In [1]:
person = {
    "first" : "Jacob",
    "last" : "Xi",
    "email" : "jacobxi@outlook.com"
}

In [2]:
people = {
    "first" : ["Jacob"],
    "last" : ["Xi"],
    "email" : ["jacobxi@outlook.com"]
}

In [1]:
people = {
    "first" : ["Jacob","Jane","John"],
    "last" : ["Xi","Doe","Wick"],
    "email" : ["jacobxi@outlook.com","JaneDone@outlook.com", "JohnWick@outlook.com"]
}

In [2]:
people['email']

['jacobxi@outlook.com', 'JaneDone@outlook.com', 'JohnWick@outlook.com']

In [3]:
import pandas as pd

In [4]:
df = pd.DataFrame(people)

In [5]:
df

   first  last                 email
0  Jacob    Xi   jacobxi@outlook.com
1   Jane   Doe  JaneDone@outlook.com
2   John  Wick  JohnWick@outlook.com

In [8]:
df['email']

0     jacobxi@outlook.com
1    JaneDone@outlook.com
2    JohnWick@outlook.com
Name: email, dtype: object

In [9]:
 type(df['email'])

pandas.core.series.Series

In [10]:
df.email

0     jacobxi@outlook.com
1    JaneDone@outlook.com
2    JohnWick@outlook.com
Name: email, dtype: object

In [12]:
df[['last','email']]

   last                 email
0    Xi   jacobxi@outlook.com
1   Doe  JaneDone@outlook.com
2  Wick  JohnWick@outlook.com

In [13]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [14]:
df.iloc[0]

first                  Jacob
last                      Xi
email    jacobxi@outlook.com
Name: 0, dtype: object

In [15]:
df.iloc[[0,1]]

   first last                 email
0  Jacob   Xi   jacobxi@outlook.com
1   Jane  Doe  JaneDone@outlook.com

In [16]:
df.iloc[[0,1], 2]

0     jacobxi@outlook.com
1    JaneDone@outlook.com
Name: email, dtype: object

In [17]:
df.loc[0]

first                  Jacob
last                      Xi
email    jacobxi@outlook.com
Name: 0, dtype: object

In [18]:
df.loc[[0,1]]

   first last                 email
0  Jacob   Xi   jacobxi@outlook.com
1   Jane  Doe  JaneDone@outlook.com

In [19]:
df.loc[[0,1],'email']

0     jacobxi@outlook.com
1    JaneDone@outlook.com
Name: email, dtype: object

In [20]:
df.loc[[0,1],['email','last']]

                  email last
0   jacobxi@outlook.com   Xi
1  JaneDone@outlook.com  Doe

In [6]:
df.set_index('email')

                      first  last
email
jacobxi@outlook.com   Jacob    Xi
JaneDone@outlook.com   Jane   Doe
JohnWick@outlook.com   John  Wick

In [7]:
df.set_index('email', inplace=True)

In [8]:
df

                      first  last
email
jacobxi@outlook.com   Jacob    Xi
JaneDone@outlook.com   Jane   Doe
JohnWick@outlook.com   John  Wick

In [9]:
df.index

Index(['jacobxi@outlook.com', 'JaneDone@outlook.com', 'JohnWick@outlook.com'], dtype='object', name='email')

In [10]:
df.loc['jacobxi@outlook.com']

first    Jacob
last        Xi
Name: jacobxi@outlook.com, dtype: object

In [11]:
df.loc['jacobxi@outlook.com','first']

'Jacob'

In [12]:
df.loc[0]

TypeError: cannot do label indexing on <class 'pandas.core.indexes.base.Index'> with these indexers [0] of <class 'int'>